{% extends "app/base.html" %}
{% load static%}
{%block body%}
  <div class="container nep_container">
    <div class="nep_flex">
      <div class="nt_single_head">
        <div class="single_title" id="single_title">
          <h1>आफ्नै पार्टीका सांसदले मत नदिएपछि अमेरिकी सभामुख पदमुक्त</h1>
        </div>
        <h3 style="font-size: 20px;color: #fb0000;">
        </h3>
        <div class="news_post_author">
          <a href="../../author/desk-105/index.html">
            <img alt src="{% static 'app/images/logo.jpg'%}"
              class="avatar avatar-90 photo" height="90" width="90" loading="lazy" decoding="async" />
            <span class="nt_writer">न्युज डेमों </span>
          </a>
          <span><i class="fa-regular fa-clock"></i> २०८० असोज १७, बुधबार</span>
        </div>
        <div class="nep-row">
          <div class="nep-col-70">
            <div class="nep_content">
              <img width="721" height="513" src="{% static 'app/images/1.jpg' %}"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                sizes="(max-width: 721px) 100vw, 721px" />
              <div class="nep_share_btn">
                <div class="nep_share_btnleft">
                  <span>शेयर गर्नुहोस:</span>
                  <div class="sharethis-inline-share-buttons"></div>
                </div>
                <div class="nep_share_btnright">
                  <div class="nep_font_box">
                    <small>फन्ट परिवर्तन गर्नुहोस:</small>
                    <span class="font-small" style="font-size: 18px;" onclick="fucsmall()">अ</span>
                    <span class="font-mid" style="font-size: 21px;" onclick="fucmid()"> अ</span>
                    <span class="font-larg" style="font-size: 25px;" onclick="fuclarg()">अ</span>
                  </div>
                  <script>
                    function fucsmall() {
                      document.getElementById("nep_content").style.font = "18px justify karma";
                    }
                    function fucmid() {
                      document.getElementById("nep_content").style.font = "21px justify karma";
                    }
                    function fuclarg() {
                      document.getElementById("nep_content").style.font = "25px justify karma";
                    }
                  </script>
                </div>
              </div>
              <div id="nep_content">
                <p>काठमाण्डौंः अमेरिकाको हाउस अफ रिप्रिजेन्टेटिभ्सको सभामुख पदबाट केभिन म्याकार्थीलाई हटाइएको छ ।</p>
                <p>सदनमा भएको मतदानमा उनको विपक्षमा २ सय १६ र समर्थनमा २ सय १० मत परेको थियो । धेरै विश्लेषकहरूले सोचेका
                  थिए कि केही डेमोक्र्याट सांसदहरूले म्याकार्थीको पक्षमा मतदान गर्न सक्छन्, तर त्यसो भएन।</p>
                <p>त्यसपछि सभामुख पद रिक्त भएको घोषणा गरिएको थियो । यस क्रममा धेरै रिपब्लिकन सांसदहरुले उनीसँग हात
                  मिलाएका थिए । उनलाई पदबाट हटाउने पक्षमा मतदान गर्ने २१६ सांसदमध्ये आठ रिपब्लिकन सांसद छन् ।</p>
                <p><img decoding="async"
                    src="{% static 'app/images/1.jpg' %}"
                    alt="Kevin McCarthy wins House speaker after 15 votes and a mess of negotiations  with the GOP - Vox" />
                </p>
                <p>उनको समर्थनमा मतदान गर्ने २१० सांसदहरू सबै रिपब्लिकन पार्टीका हुन्।यसलाई फ्लोरिडा रिपब्लिकन सांसद
                  म्याट गेट्जको जितका रूपमा हेरिएको छ।</p>
                <p>गेट्जले लगातार उनको विरुद्ध बयान दिइरहेका थिए।नर्थ क्यारोलिनाका प्याट्रिक म्याकहेनरी हाल अस्थायी
                  सभामुख निर्वाचित भएका छन्।</p>
                <p>पदबाट हटाइएपछि पत्रकार सम्मेलनमा म्याकार्थीले भने, ‘व्यक्तिगत ध्यानाकर्षणका लागि यो गरिएको हो, यसले
                  राजनीतिक मुद्दासँग सरोकार राख्दैन भन्ने तपाई सबैलाई थाहा छ ।’</p>
                <p>उनको लक्ष्य स्पष्ट रूपमा गेट्ज तर्फ थियो।म्याकार्थीले डेमोक्र्याटिक पार्टीको समर्थनमा सरFकारलाई सहयोग
                  मिल्ने काम गरेको आरोप लागेको छ ।</p>
                <p>सरकार खर्च गर्ने बाटो बन्द भएर छटपटिएको बेला सभामुखले विधेयक पारित गराएपछि रिपब्लिकन पार्टीका
                  सदस्यहरू पनि उनीसँग रिसाएका थिए। रिपब्लिकन पार्टीले खर्च गर्ने बाटो बन्द गराएर जो बाइडेनलाई अफ्ठेरोमा
                  पार्न कोशिस गरेको थियो । एजेन्सी</p>
              </div>
            </div>
            <div class="nep_notice">
              <p>  प्रकाशित कुनै सामग्रीबारे कुनै गुनासो, सूचना तथा सुझाव भए हामीलाई <a
                  href="{% static 'app/images/1.jpg' %}" class="__cf_email__"
                  data-cfemail="cdb4b8aaa6a5acafacbf8daaa0aca4a1e3aea2a0">[email&#160;protected]</a> मा पठाउनु होला ।
                धन्यवाद ।</p>
            </div>
            <!-- <div class="nep_reaction_btn neptop_block">
              <h3>यो खबर पढेर तपाईलाई कस्तो महसुस भयो ?</h3>
              <div class="sharethis-inline-reaction-buttons"></div>
            </div> -->
            <div class="nep_comment cmtbox">
              <h3>प्रतिक्रिया</h3>
              <div class="fb-comments cmtbox" data-href="/" data-width="100%"
                data-numposts="7"></div>
            </div>
          </div>
          <div class="nep-col-30">
            <div class="single_sidebar nep-sticky">
              <div class="nep_cat_title">ताजा अपडेट </div>
              <a href="../../128016/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                        src="{% static 'app/images/1.jpg' %}"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                        loading="lazy"
                        sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>बेलायती महारानीलाइ मार्न खोज्ने भारतीय मुलका ब्यक्तिलाई ९ वर्ष जेल सजायँ</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../128012/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                        src="{% static 'app/images/1.jpg' %}"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                        loading="lazy"
                        sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>१९औँ एसियाली खेलकुदमा नेपाललाई पहिलो पदक</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../128011/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                        src="{% static 'app/images/1.jpg' %}"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                        loading="lazy"
                        sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>आजको तरकारी तथा फलफूलकाे मूल्य, तिते करेला ६० रूपैयाँ</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../128008/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                        src="{% static 'app/images/1.jpg' %}"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                        loading="lazy"
                        sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>डोल्पामा आयोडिनयुक्त नुन अभाव</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../128006/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                      src="{% static 'app/images/1.jpg' %}"
                      class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                      loading="lazy"
                      sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>कर्णाली मासुमा आत्मनिर्भर, वार्षिक एक करोड ४० लाख बढीको खसीबोका निर्यात</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../128005/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                        src="{% static 'app/images/1.jpg' %}"
                        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                        loading="lazy"
                        sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>नेपाल एयरलाइन्सले अष्ट्रेलिया, कोलम्बो र सिओलमा सिधा हवाइ उडान गर्ने</h5>
                      <div class="nt_date">२०८० असोज १९, शुक्रबार</div>
                    </div>
                  </div>
                </div>
              </a>
              <a href="../../127999/2023/index.html" class="nt_display_grid">
                <div class="nt_post_f3body">
                  <div class="row nt_post_center">
                    <div class="col-4">
                      <img width="1024" height="576"
                      src="{% static 'app/images/1.jpg' %}"
                      class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                      loading="lazy"
                      sizes="(max-width: 1024px) 100vw, 1024px" />
                    </div>
                    <div class="col-8 nt_post_f3content">
                      <h5>एक दिवसीय क्रिकेटमा इग्ल्याण्डमाथि न्युजिल्याण्डको सहज जित</h5>
                      <div class="nt_date">२०८० असोज १८, बिहिबार</div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="nep_related_news">
      <h3>सम्बन्धित खबर</h3>
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../128016/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1024" height="576"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 1024px) 100vw, 1024px" />
              </div>
              <h4>बेलायती महारानीलाइ मार्न खोज्ने भारतीय मुलका ब्यक्तिलाई ९ वर्ष जेल सजायँ</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127914/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1200" height="550" src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 1200px) 100vw, 1200px" />
              </div>
              <h4>चीनमा कार्बनमोनोअक्साइडका कारण सातको निसास्सिएर मृत्यु</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127840/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="2560" height="1707"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 2560px) 100vw, 2560px" />
              </div>
              <h4>२९ रुसी ड्रोन र मिसाइल खसालेको युक्रेनको दाबी</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127839/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="800" height="480"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 800px) 100vw, 800px" />
              </div>
              <h4>दक्षिणी सुडानबाट फर्किएका हजारौँ नागरिक भोकमरीको जोखिममा</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127703/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="750" height="500"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 750px) 100vw, 750px" />
              </div>
              <h4>इजिप्टको प्रहरी मुख्यालयमा आगलागी हुँदा ३८ जना घाईते</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127635/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="2560" height="1440"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 2560px) 100vw, 2560px" />
              </div>
              <h4>युक्रेनलाई समर्थन गर्नबाट अमेरिका पछि हट्दैन : जो वाइडेन</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127613/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>यूरोप प्रवेश गर्न खोज्ने छ सय आप्रवासी शरणार्थी सेनेगलमा रोकिए</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127591/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                src="{% static 'app/images/2.jpg' %}"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                loading="lazy"
                sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>नाइटक्लबमा आगो लाग्दा सात जनाको मृत्यु</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127583/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                src="{% static 'app/images/2.jpg' %}"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                loading="lazy"
                sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>माल्दिभ्सको राष्ट्रपतिमा मोहम्मद मुइज्जु निर्वाचित</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127543/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                  src="{% static 'app/images/2.jpg' %}"
                  class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                  loading="lazy"
                  sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>पाकिस्तान विस्फोट : चिनियाँ राष्ट्रपति स्तब्ध</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127442/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                src="{% static 'app/images/2.jpg' %}"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                loading="lazy"
                sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>न्युयोर्कमा ८० वर्षपछि सबैभन्दा धेरै वर्षा, आपतकालकाे घोषणा</h4>
            </div>
          </a>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 nt_display_grid">
          <a href="../../127420/2023/index.html" class="nt_display_grid">
            <div class="nt_post_f2body">
              <div class="nt_post_thumbnail">
                <img width="1199" height="674"
                src="{% static 'app/images/2.jpg' %}"
                class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt decoding="async"
                loading="lazy"
                sizes="(max-width: 1199px) 100vw, 1199px" />
              </div>
              <h4>दुई लाख मान्छे भूमध्यसागर पार गरेर युरोप पुग्दा पच्चीस सय हराए</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
 
 {% endblock%}